.form {
    padding: 3rem;
    border-radius: 0.8rem;
}
/* inputy */
.form__field, 
.order__form__field  {
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0.5rem;
    margin: 0.8rem 0;
}
.form__label {
    color: #4FE4C3;
    font-size: 1.4rem;
}
.order__field {
    display: flex;
    justify-content: center;
}
.order__field-submit {
    background-color: #4FE4C3;
    margin-top: 2rem;
    padding: 1rem 1.8rem; 
    color: #fff;
    border-radius: 0.8rem;
    border: none;
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
}
.order__field-submit:hover {
    background-color: #35d6b3;
}

.admin__heading {
    color: #4FE4C3;
    font-size: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.4;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
.excursions__item {
    max-width: 50%;
    border: 1px solid #4FE4C3;
    border-radius: 0.8rem;
    padding: 1.5rem;
    margin: 1rem;
}

.excursions__title {
    color: #4FE4C3;
}
.excursions__description {
    margin-top: 1rem;
}
.excursions__form {
    margin-top: 1rem;
}
.excursions__field {
    margin-top: 2rem;
}
.excursions__btn {
    padding: 1rem 1.8rem; 
    color: #fff;
    border-radius: 0.8rem;
    border: none;
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
}
.excursions__field--edit {
    background-color: #4FE4C3;
}
.excursions__field--edit:hover {
    background-color: #35d6b3;
}
.excursions__field--delete {
    background-color: #ec232d;
}
.excursions__field--delete:hover {
    background-color: #d82b33;
}
.button__href--client {
    background-color: #f96d00;
}
.button__href--client:hover {
    background-color: #ec7113;
}